@{
    string mail = "";
    @Bobdehelper.Sessionnull();
    mail = Session["mail"].ToString();

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string checkrank = "";
    var t = new Functions();
    if (t.Rank(mail) == "Owner")
    {
        checkrank = t.Rank(mail);
    }
    else
    {
        Response.Redirect("~/login.cshtml");
    }
    string Username = "";
    string rankcheck = "";

    if (!IsPost)
    {
        if (!Request.QueryString["User"].IsEmpty())
        {
            Username = Request.QueryString["User"];

            var SelectUser = "SELECT * FROM [Profiel] WHERE Username = @0";
            var UserRow = db.QuerySingle(SelectUser, Username);
            if (UserRow != null)
            {
                mail = UserRow.Email;
                rankcheck = UserRow.Rank;
            }
        }
    }
    if (IsPost)
    {
        if (!Request.QueryString["User"].IsEmpty())
        {
            Username = Request.QueryString["User"];
            rankcheck = Request["Rank"];
            var UpdateRank = "UPDATE [Profiel] SET Rank=@0 WHERE Username=@1";
            db.Execute(UpdateRank, rankcheck, Username);
            Response.Redirect("~/Admin page.cshtml");
        }
    }

}


<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <form method="post">
        <fieldset>

            <p>
                <span>Username:</span>
                <span>@Username</span>
            </p>

            <p>
                <span>mail:</span>
                <span>@mail</span>
            </p>

            <p>
                <span>rank:</span>
                <select name="Rank">
                    <option value="Muggle">Muggle</option>
                    <option value="Owner">Owner</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Student">Student</option>
                </select>
            </p>

            <p><input type="submit" name="submit" value="Edit" /></p>
        </fieldset>
    </form>

</body>
</html> 