@{
    
}

<div>
    <form method="post">
        <div>
            <label>leraar </label>
            <br />
            <input type="text" name="question" />

        </div>
        <div>
            <label>les titel</label>
            <br />
            <input type="text" name="titel" />

        </div>
        <div>
            <label>content</label>
            <br />
            <input type="text" name="content" />

        </div>
        <div>
            <label>maak dit de active les</label>
            <input type="checkbox" name="Isactive" value="1"><br>
        </div>
        <br />
        <button type="submit">Add</button>

    </form>

</div>>