@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Houses";
    PageData["current"] = "Houses";

    string mail = "";
    @Bobdehelper.Sessionnull();
    mail = Session["mail"].ToString();

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string checkrank = "";
    var t = new Functions();
    if (t.Rank(mail) == "Student" || t.Rank(mail) == "Teacher" || t.Rank(mail) == "Owner")
    {
        checkrank = t.Rank(mail);
    }
    else
    {
        Response.Redirect("~/login.cshtml");
    }
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Yer a wizzard harry</title>
    <link href="~/Stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Stylesheets/Layout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
</head>
<body id="hs-backgr">
    <div style="margin-bottom: 100px;"></div>
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <button onclick="window.location.href='Gryffindor.cshtml';" id="Gryffindor" class="box-part text-center">

                        <div class="title">
                            <h3>Gryffindor</h3>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>
                    </button>
                </div>
                <div class="col-lg-3">
                    <button onclick="window.location.href='Hufflepuff.cshtml';" id="Hufflepuff" class="box-part text-center">

                        <div class="title">
                            <h3>Hufflepuff</h3>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>
                    </button>
                </div>
                <div class="col-lg-3">
                    <button onclick="window.location.href='Ravenclaw.cshtml';" id="Ravenclaw" class="box-part text-center">

                        <div class="title">
                            <h3>Ravenclaw</h3>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>
                    </button>
                </div>
                <div class="col-lg-3">
                    <button onclick="window.location.href='Slytherin.cshtml';" id="Slytherin" class="box-part text-center">

                        <div class="title">
                            <h3>Slytherin</h3>
                        </div>
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div style="margin-bottom: 100px;"></div>
    <link rel="stylesheet" href="~/Scripts/Layout.css" type="text/css" />
</body>
