@{
    string mail = "";
    @Bobdehelper.Sessionnull();
    mail = Session["mail"].ToString();

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    string checkrank = "";
    var t = new Functions();
    if (t.Rank(mail) == "Student" || t.Rank(mail) == "Teacher" || t.Rank(mail) == "Owner")
    {
        checkrank = t.Rank(mail);
    }
    else
    {
        Response.Redirect("~/login.cshtml");
    }

    bool startquestions = false;
    string examname = Request.Form["exam"];
    int dummylesson_id = 8;
    int dummy = Request.Form["amountofquestions"].AsInt();
    int amountofquestions = Request.Form["questionsleft"].AsInt();
    int counter = Request.Form["counter"].AsInt();
    if (IsPost)
    {
        if (startquestions == false)
        {
            string addexamname = "Insert into exam (exam_name, Lesson_Id) Values (@0,@1)";
            var insertexam = db.Execute(addexamname, examname, dummylesson_id);

        }


        startquestions = true;

        if (counter != 0)
        {
            int questionpoints = Request.Form["amountofpoints"].AsInt();
            string questionname = Request.Form["question_name"];
            string answer1 = Request.Form["answer1"];
            string answer2 = Request.Form["answer2"];
            string answer3 = Request.Form["answer3"];
            string answer4 = Request.Form["answer4"];
            int iscorrect1 = Request.Form["Isactive1"].AsInt();
            int iscorrect2 = Request.Form["Isactive2"].AsInt();
            int iscorrect3 = Request.Form["Isactive3"].AsInt();
            int iscorrect4 = Request.Form["Isactive4"].AsInt();
            //get exam_id
            string getexam_id = "SELECT exam_Id FROM Exam where Lesson_Id = @0";
            int exam_id = db.QueryValue(getexam_id, dummylesson_id);

            //voeg vraag toe
            string insertquestion = "INSERT INTO Questions (Question,points,Order_Prio,exam_Id) VALUES (@0,@1,@2,@3)";
            var insertthatquestion = db.Execute(insertquestion, questionname, questionpoints, counter, exam_id);

            //krijg question id
            string getquestion_Id = "SELECT Question_Id FROM Questions WHERE Question = @0 AND Order_Prio = @1 AND exam_id = @2";
            int question_Id = db.QueryValue(getquestion_Id, questionname, counter, exam_id);
            string addquestion = "INSERT INTO answer (corret,answer,answer_index,Question_Id) VALUES (@0,@1,@2,@3)";
            var insertquestion1 = db.Execute(addquestion, iscorrect1, answer1, 1, question_Id);
            var insertquestion2 = db.Execute(addquestion, iscorrect2, answer2, 2, question_Id);
            var insertquestion3 = db.Execute(addquestion, iscorrect3, answer2, 3, question_Id);
            var insertquestion4 = db.Execute(addquestion, iscorrect4, answer2, 4, question_Id);
        }
        if (counter > amountofquestions)
        {
            // ga naar lesson page
        }
        counter++;
    }
}

@if (startquestions == false)
{
    <div>
        <form method="post">
            <div>
                <label>wat is de naam van je exam?</label>
                <br />
                <input type="text" name="exam" />

            </div>
            <div>
                <label>hoeveel vragen heeft je exam</label>
                <br />
                <input type="text" name="amountofquestions" />
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
}
else
{
    <div>
        <form method="post" action="~/MakeQuiz.cshtml">
            <div>

                <input type="hidden" name="counter" value="@counter" />
                <label>vraag naam</label>
                <br />
                <input type="text" name="question_name" />
                <br />
                <label>aantal punten</label>
                <br />
                <input type="text" name="amountofpoints" />
                <br />
                <label> antwoord 1 </label>
                <br />
                <input type="text" name="answer1" /> <input type="checkbox" name="Isactive1" value="1"><br>
                <br />
                <label> antwoord 2 </label>
                <br />
                <input type="text" name="answer2" /> <input type="checkbox" name="Isactive2" value="1"><br>
                <br />
                <label> antwoord 3 </label>
                <br />
                <input type="text" name="answer3" /> <input type="checkbox" name="Isactive3" value="1"><br>
                <br />
                <label> antwoord 4 </label>
                <br />
                <input type="text" name="answer4" /> <input type="checkbox" name="Isactive4" value="1"><br>

                <button type="submit">Add</button>
            </div>
        </form>
    </div>
}